# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
--- 
아래 셀을 실행시켜 데이터를 colab에 불러옵니다.  
셀 실행은 Ctrl + Enter 를 이용해 실행 시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3gLj0Q6'

import zipfile
with zipfile.ZipFile('3gLj0Q6', 'r') as existing_zip:
    existing_zip.extractall('data')

--2023-01-21 07:02:09--  https://bit.ly/3gLj0Q6
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E [following]
--2023-01-21 07:02:09--  https://drive.google.com/uc?export=download&id=1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E
Resolving drive.google.com (drive.google.com)... 74.125.28.102, 74.125.28.101, 74.125.28.138, ...
Connecting to drive.google.com (drive.google.com)|74.125.28.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/qk87verc08a9qohd45s6kn1m7h29c4oh/1674284475000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=b123e410-bcf3-48b6-878f-70a8a5be2f9e [following]
Warning: wildcards not supported in HTTP.
--2023-01-21 07:02:10--  https://doc-0c-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/qk87verc08a9qohd45s6kn1m7h29c4oh/1674284475000/17946651057176172524/*/1or_QN1ksv81DNog6Tu_kWcZ5jJWf5W9E?e=download&uuid=b123e410-bcf3-48b6-878f-70a8a5be2f9e
Resolving doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)... 74.125.26.132, 2607:f8b0:400c:c04::84
Connecting to doc-0c-10-docs.googleusercontent.com (doc-0c-10-docs.googleusercontent.com)|74.125.26.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 39208 (38K) [application/zip]
Saving to: ‘3gLj0Q6’

3gLj0Q6             100%[===================>]  38.29K  --.-KB/s    in 0s

2023-01-21 07:02:10 (102 MB/s) - ‘3gLj0Q6’ saved [39208/39208]

## 라이브러리 불러오기
---
아래 셀을 실행시켜 pandas 와 DecisionTreeClassifier 를 불러옵니다.

In [2]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

## 데이터 불러오기
---
아래 셀을 실행시켜 csv 파일 데이터를 DataFrame 객체로 불러옵니다.

In [3]:
train = pd.read_csv('data/train.csv') 
test = pd.read_csv('data/test.csv')

## 결측치 전처리 (보간)
---
interpolate() 를 이용해 결측치를 DataFrame 값에 선형으로 비례하여 보간합니다.

In [4]:
train.interpolate(inplace=True)

In [5]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

## 👋 실습
---

In [11]:
# count 피쳐를 제외한 X_train df 를 생성하는 코드를 아래에 작성하세요.
X_train = train.drop(['count'], axis = 1)
print(X_train)

        id  hour  hour_bef_temperature  hour_bef_precipitation  \
0        3    20                  16.3                     1.0
1        6    13                  20.1                     0.0
2        7     6                  13.9                     0.0
3        8    23                   8.1                     0.0
4        9    18                  29.5                     0.0
...    ...   ...                   ...                     ...
1454  2174     4                  16.8                     0.0
1455  2175     3                  10.8                     0.0
1456  2176     5                  18.3                     0.0
1457  2178    21                  20.7                     0.0
1458  2179    17                  21.1                     0.0

      hour_bef_windspeed  hour_bef_humidity  hour_bef_visibility  \
0                    1.5               89.0                576.0
1                    1.4               48.0                916.0
2                    0.7               79.0               1382.0
3                    2.7               54.0                946.0
4                    4.8                7.0               2000.0
...                  ...                ...                  ...
1454                 1.6               53.0               2000.0
1455                 3.8               45.0               2000.0
1456                 1.9               54.0               2000.0
1457                 3.7               37.0               1395.0
1458                 3.1               47.0               1973.0

      hour_bef_ozone  hour_bef_pm10  hour_bef_pm2.5
0              0.027           76.0            33.0
1              0.042           73.0            40.0
2              0.033           32.0            19.0
3              0.040           75.0            64.0
4              0.057           27.0            11.0
...              ...            ...             ...
1454           0.031           37.0            27.0
1455           0.039           34.0            19.0
1456           0.009           30.0            21.0
1457           0.082           71.0            36.0
1458           0.046           38.0            17.0

[1459 rows x 10 columns]

In [12]:
# count 피쳐만을 가진 Y_train df 를 생성하는 코드를 아래에 작성하세요.
Y_train = train['count']
print(Y_train)

0        49.0
1       159.0
2        26.0
3        57.0
4       431.0
        ...
1454     21.0
1455     20.0
1456     22.0
1457    216.0
1458    170.0
Name: count, Length: 1459, dtype: float64

## 정답
---

In [ ]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

In [13]:
model = RandomForestRegressor(criterion = 'mse')
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/ensemble/_forest.py:396: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  warn(

RandomForestRegressor(criterion='mse')

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)