# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [3]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2023-01-29 13:22:21--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.10, 67.199.248.11
Connecting to bit.ly (bit.ly)|67.199.248.10|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2023-01-29 13:22:21--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 74.125.143.138, 74.125.143.100, 74.125.143.101, ...
Connecting to drive.google.com (drive.google.com)|74.125.143.138|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/jp445v9tghdt4chprj2m6pq5004j3qq0/1674998475000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=3637bb79-a489-4492-a9c4-847a2fc44695 [following]
Warning: wildcards not supported in HTTP.
--2023-01-29 13:22:22--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/jp445v9tghdt4chprj2m6pq5004j3qq0/1674998475000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=3637bb79-a489-4492-a9c4-847a2fc44695
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 108.177.126.132, 2a00:1450:4013:c01::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|108.177.126.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB‚Äô

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2023-01-29 13:22:22 (86.5 MB/s) - ‚Äò3i4n1QB‚Äô saved [137694/137694]

In [4]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞

import pandas as pd
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder

In [5]:
# read_csv() Îß§ÏÑúÎìúÎ°ú train.csv ÌååÏùºÏùÑ df class Î°ú Î∂àÎü¨Ïò§ÏÑ∏Ïöî.
train = pd.read_csv('data/train.csv')

## üëã Ïã§Ïäµ
---

In [6]:
# "OneHotEncoder"Î•º "encoder"ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî
encoder = OneHotEncoder()

In [8]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type" ÌîºÏ≥êÎ•º ÌïôÏäµÏãúÏºúÎ≥¥ÏÑ∏Ïöî
encoder.fit(train[['type']])

OneHotEncoder()

In [9]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type"ÌîºÏ≥êÎ•º Î≥ÄÌôòÌï¥ "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî
onehot = encoder.transform(train[['type']])

In [10]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º array ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî
onehot = onehot.toarray()

In [13]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º DataFrame ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî
onehot = pd.DataFrame(onehot)

In [14]:
onehot

        0    1
0     0.0  1.0
1     1.0  0.0
2     0.0  1.0
3     0.0  1.0
4     0.0  1.0
...   ...  ...
5492  0.0  1.0
5493  0.0  1.0
5494  0.0  1.0
5495  0.0  1.0
5496  0.0  1.0

[5497 rows x 2 columns]

In [16]:
# encoderÏùò "get_feature_names()"Î•º ÏÇ¨Ïö©Ìï¥ column Ïù¥Î¶ÑÏùÑ Î∞îÍøîÎ≥¥ÏÑ∏Ïöî
onehot.columns = encoder.get_feature_names()
onehot

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

      x0_red  x0_white
0        0.0       1.0
1        1.0       0.0
2        0.0       1.0
3        0.0       1.0
4        0.0       1.0
...      ...       ...
5492     0.0       1.0
5493     0.0       1.0
5494     0.0       1.0
5495     0.0       1.0
5496     0.0       1.0

[5497 rows x 2 columns]

In [17]:
# onehotÏùÑ ÏõêÎ≥∏Îç∞Ïù¥ÌÑ∞Ïù∏ trainÏóê Î≥ëÌï©ÏãúÏºúÎ≥¥ÏÑ∏Ïöî
onehot = pd.concat([train,onehot], axis=1)

In [20]:
# trainÏùò "type" Î≥ÄÏàòÎ•º Ï†úÍ±∞Ìï¥Ï£ºÏÑ∏Ïöî
train = train.drop(columns='type')

In [21]:
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

## Ï†ïÎãµ
---

In [22]:
# "OneHotEncoder"Î•º "encoder"ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî

encoder = OneHotEncoder()

In [23]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type" ÌîºÏ≥êÎ•º ÌïôÏäµÏãúÏºúÎ≥¥ÏÑ∏Ïöî

encoder.fit(train[['type']])

OneHotEncoder()

In [24]:
# "encoder"Î•º ÏÇ¨Ïö©Ìï¥ trainÏùò "type"ÌîºÏ≥êÎ•º Î≥ÄÌôòÌï¥ "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÏóê Ï†ÄÏû•Ìï¥Î≥¥ÏÑ∏Ïöî
onehot = encoder.transform(train[['type']])
onehot

<5497x2 sparse matrix of type '<class 'numpy.float64'>'
	with 5497 stored elements in Compressed Sparse Row format>

In [25]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º array ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî

onehot = onehot.toarray()
onehot

array([[0., 1.],
       [1., 0.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]])

In [26]:
# "onehot"Ïù¥ÎùºÎäî Î≥ÄÏàòÎ•º DataFrame ÌòïÌÉúÎ°ú Î≥ÄÌôòÌï¥ Î≥¥ÏÑ∏Ïöî

onehot = pd.DataFrame(onehot)
onehot.head()

     0    1
0  0.0  1.0
1  1.0  0.0
2  0.0  1.0
3  0.0  1.0
4  0.0  1.0

In [27]:
# encoderÏùò "get_feature_names()"Î•º ÏÇ¨Ïö©Ìï¥ column Ïù¥Î¶ÑÏùÑ Î∞îÍøîÎ≥¥ÏÑ∏Ïöî
onehot.columns = encoder.get_feature_names()
onehot.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

   x0_red  x0_white
0     0.0       1.0
1     1.0       0.0
2     0.0       1.0
3     0.0       1.0
4     0.0       1.0

In [28]:
# onehotÏùÑ ÏõêÎ≥∏Îç∞Ïù¥ÌÑ∞Ïù∏ trainÏóê Î≥ëÌï©ÏãúÏºúÎ≥¥ÏÑ∏Ïöî

onehot = pd.concat([train, onehot], axis = 1)
onehot.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white,0.0,1.0

In [29]:
# trainÏùò "type" Î≥ÄÏàòÎ•º Ï†úÍ±∞Ìï¥Ï£ºÏÑ∏Ïöî
train = train.drop(columns = ['type'])
train.head()

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9

In [30]:
### ÏΩîÎìúÎ•º Îçî Îã®ÏàúÌôî ÏãúÏºúÎ≥ºÍ≤åÏöî!
train = pd.read_csv('data/train.csv')
encoder = OneHotEncoder()
onehot = pd.DataFrame(encoder.fit_transform(train[['type']]).toarray(), columns = encoder.get_feature_names())
train = pd.concat([train,onehot], axis = 1).drop(columns = ['type'])
train.head()

/usr/local/lib/python3.8/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,index,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,x0_red,x0_white
0,0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,0.0,1.0
1,1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,1.0,0.0
2,2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,0.0,1.0
3,3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,0.0,1.0
4,4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,0.0,1.0

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)