# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2023-06-14 12:51:49--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2023-06-14 12:51:50--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 108.177.127.102, 108.177.127.113, 108.177.127.101, ...
Connecting to drive.google.com (drive.google.com)|108.177.127.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5cuk9fqfc9b8c0udobja0k43lep6r1k8/1686747075000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=8f21a794-bbdd-41ff-853e-a283787b2353 [following]
Warning: wildcards not supported in HTTP.
--2023-06-14 12:51:50--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5cuk9fqfc9b8c0udobja0k43lep6r1k8/1686747075000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=8f21a794-bbdd-41ff-853e-a283787b2353
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 108.177.126.132, 2a00:1450:4013:c01::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|108.177.126.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB‚Äô

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2023-06-14 12:51:51 (55.9 MB/s) - ‚Äò3i4n1QB‚Äô saved [137694/137694]

In [2]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
import seaborn as sns
import pandas as pd

# VIFÍ∏∞Îä•ÏùÑ Ï†úÍ≥µÌïòÎäî ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∂àÎü¨Ïò§Í∏∞
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
train = pd.read_csv('data/train.csv')

# Î≤îÏ£ºÌòï Î≥ÄÏàò Ï†úÍ±∞(type)
train.drop('type',inplace = True,axis=1)

## üëã Ïã§Ïäµ
---
ÌîºÏ≤òÎßàÎã§Ïùò VIF Í≥ÑÏàòÎ•º Ï∂úÎ†•Ìï©ÎãàÎã§.

In [5]:
# Í≤∞Í≥ºÍ∞íÏùÑ Ï†ÄÏû•Ìï† VIFÎùºÎäî Ïù¥Î¶ÑÏùò Î¶¨Ïä§Ìä∏ ÏÉùÏÑ±
VIF = []

# values atribution(ÏÜçÏÑ±) Ïù¥Ïö©Ìï¥ train Îç∞Ïù¥ÌÑ∞Ïùò Í∞íÎßå Ï∂îÏ∂ú
train_val = train.values

#  variance_inflation_factor Ìï®ÏàòÏóê Ïù∏ÏûêÎ°ú train_val (train Îç∞Ïù¥ÌÑ∞Ïùò Í∞í)Í≥º Ïù∏Îç±Ïä§ Î≤àÌò∏ ÏßÄÏ†ï  - for Î∞òÎ≥µÎ¨∏ Ïù¥Ïö©
for i in range(len(train.columns)):
    VIF.append(variance_inflation_factor(train_val,i))

In [7]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Î∞îÍøî Í∞ÄÎèÖÏÑ± ÎÜíÏù¥Í∏∞! (Î≥¥ÎÑàÏä§ Î¨∏Ï†ú)
data = pd.DataFrame(VIF)
data

             0
0     4.007175
1    64.107432
2    59.149187
3     9.610687
4     9.273444
5     3.616414
6     5.715981
7     8.420883
8    14.833789
9   945.323991
10  583.501187
11   18.535850
12  131.126700

## Ï†ïÎãµ
---

In [8]:
# ÌîºÏ≤òÎßàÎã§Ïùò VIF Í≥ÑÏàòÎ•º Ï∂úÎ†•Ìï©ÎãàÎã§.


# Í≤∞Í≥ºÍ∞íÏùÑ Ï†ÄÏû•Ìï† VIFÎùºÎäî Ïù¥Î¶ÑÏùò Î¶¨Ïä§Ìä∏ ÏÉùÏÑ±
vif = []

# values atribution(ÏÜçÏÑ±) Ïù¥Ïö©Ìï¥ train Îç∞Ïù¥ÌÑ∞Ïùò Í∞íÎßå Ï∂îÏ∂ú
train_val = train.values

#  variance_inflation_factor Ìï®ÏàòÏóê Ïù∏ÏûêÎ°ú train_val (train Îç∞Ïù¥ÌÑ∞Ïùò Í∞í)Í≥º Ïù∏Îç±Ïä§ Î≤àÌò∏ ÏßÄÏ†ï
# forÎ¨∏ Ïù¥Ïö©
for i in range(len(train.columns)):
  vif.append(variance_inflation_factor(train_val, i))


vif

[4.007175138928272,
 64.10743200252591,
 59.14918709853955,
 9.610687118796196,
 9.273443884294641,
 3.616414435307183,
 5.7159808829777585,
 8.420882621285777,
 14.833789006276412,
 945.3239910887048,
 583.5011867251005,
 18.535849630077276,
 131.12669981396292]

In [9]:
# Îç∞Ïù¥ÌÑ∞ ÌîÑÎ†àÏûÑ ÌòïÏãùÏúºÎ°ú Î∞îÍøî Í∞ÄÎèÖÏÑ± ÎÜíÏù¥Í∏∞! (Î≥¥ÎÑàÏä§ Î¨∏Ï†ú)

vif_dataframe = pd.DataFrame()
vif_dataframe['columns'] = train.columns
vif_dataframe['VIF'] = vif
vif_dataframe

                 columns         VIF
0                  index    4.007175
1                quality   64.107432
2          fixed acidity   59.149187
3       volatile acidity    9.610687
4            citric acid    9.273444
5         residual sugar    3.616414
6              chlorides    5.715981
7    free sulfur dioxide    8.420883
8   total sulfur dioxide   14.833789
9                density  945.323991
10                    pH  583.501187
11             sulphates   18.535850
12               alcohol  131.126700

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)