# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)

# ÏÖÄÏùÑ Ïã§ÌñâÌï† Îïå ÌåùÏóÖÏù¥ Îú®Î©¥ `Î¨¥ÏãúÌïòÍ≥† Í≥ÑÏÜçÌïòÍ∏∞` Î•º ÎàåÎü¨Ï£ºÏÑ∏Ïöî

## Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú
---
ÏïÑÎûò ÏÖÄÏùÑ Ïã§ÌñâÏãúÏºú Îç∞Ïù¥ÌÑ∞Î•º colab Ïóê Î∂àÎü¨ÏòµÎãàÎã§.
ÏÖÄ Ïã§ÌñâÏùÄ Ctrl + Enter Î•º Ïù¥Ïö©Ìï¥ Ïã§ÌñâÏãúÌÇ¨ Ïàò ÏûàÏäµÎãàÎã§.

In [1]:
# Îç∞Ïù¥ÌÑ∞ Îã§Ïö¥Î°úÎìú ÎßÅÌÅ¨Î°ú Îç∞Ïù¥ÌÑ∞Î•º ÏΩîÎû©Ïóê Î∂àÎü¨ÏòµÎãàÎã§.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2023-06-25 13:50:05--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2023-06-25 13:50:06--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 173.194.218.101, 173.194.218.138, 173.194.218.139, ...
Connecting to drive.google.com (drive.google.com)|173.194.218.101|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2ronrunii11peu92as3fmevpi837f2h0/1687701000000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=5fec43ea-1537-4084-b36d-87f363b11335 [following]
Warning: wildcards not supported in HTTP.
--2023-06-25 13:50:06--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/2ronrunii11peu92as3fmevpi837f2h0/1687701000000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=5fec43ea-1537-4084-b36d-87f363b11335
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 74.125.141.132, 2607:f8b0:400c:c06::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|74.125.141.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‚Äò3i4n1QB‚Äô

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2023-06-25 13:50:06 (84.5 MB/s) - ‚Äò3i4n1QB‚Äô saved [137694/137694]

In [2]:
# ÎùºÏù¥Î∏åÎü¨Î¶¨ Î∞è Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
import pandas as pd
from xgboost import XGBClassifier
from lightgbm import LGBMClassifier

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

train.drop('index',axis = 1 ,inplace =True)
test.drop('index',axis = 1 ,inplace =True)

## üëã Ïã§Ïäµ
---

In [3]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
train.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [4]:
# ÏõêÌï´ Ïù∏ÏΩîÎî© (pd.get_dummies())
train_one = pd.get_dummies(train)
test_one = pd.get_dummies(test)

In [5]:
# Î™®Îç∏ Ï†ïÏùò

xgb = XGBClassifier()

lgbm = LGBMClassifier()

In [7]:
# Î™®Îç∏ ÌïôÏäµ

# X Îäî trainÏóêÏÑú quality Î•º Ï†úÏô∏Ìïú Î™®Îì† Î≥ÄÏàò
# y Îäî trainÏùò qulity Î≥ÄÏàò
X = train_one.drop('quality',axis=1)
y = train['quality']
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)


# fit Î©îÏÜåÎìúÎ•º Ïù¥Ïö©Ìï¥ Î™®Îç∏ ÌïôÏäµ(xgb,lgbm)
XGB_model = xgb.fit(X, y)
LGBM_model = lgbm.fit(X, y)

In [8]:
# predict Î©îÏÜåÎìúÏôÄ test_one Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ïö©Ìï¥ ÌíàÏßà ÏòàÏ∏°

xgb_pred = XGB_model.predict(test_one)
lgbm_pred = LGBM_model.predict(test_one)

In [10]:
# sample_submission.csv ÌååÏùºÏùÑ Î∂àÎü¨ÏôÄ ÏòàÏ∏°Îêú Í∞íÏúºÎ°ú Ï±ÑÏõå Ï£ºÍ∏∞(xgb,lgbm)
sub = pd.read_csv('//content//data//sample_submission.csv')
sub['quality'] = xgb_pred
sub['quality2'] = lgbm_pred
sub

     index  quality  quality2
0        0        2         2
1        1        3         2
2        2        3         3
3        3        2         2
4        4        3         3
..     ...      ...       ...
995    995        3         2
996    996        2         3
997    997        2         2
998    998        3         3
999    999        3         3

[1000 rows x 3 columns]

In [11]:
# Ï†ïÎãµÌååÏùº ÎÇ¥Î≥¥ÎÇ¥Í∏∞
sub.to_csv('pred.csv',index=False)

## Ï†ïÎãµ

In [12]:
# Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
train.head()

,quality,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,type
0,5,5.6,0.695,0.06,6.8,0.042,9.0,84.0,0.99432,3.44,0.44,10.2,white
1,5,8.8,0.610,0.14,2.4,0.067,10.0,42.0,0.99690,3.19,0.59,9.5,red
2,5,7.9,0.210,0.39,2.0,0.057,21.0,138.0,0.99176,3.05,0.52,10.9,white
3,6,7.0,0.210,0.31,6.0,0.046,29.0,108.0,0.99390,3.26,0.50,10.8,white
4,6,7.8,0.400,0.26,9.5,0.059,32.0,178.0,0.99550,3.04,0.43,10.9,white

In [13]:
# ÏõêÌï´ Ïù∏ÏΩîÎî© (pd.get_dummies())

train_one = pd.get_dummies(train)
test_one = pd.get_dummies(test)

In [14]:
# Î™®Îç∏ Ï†ïÏùò

xgb = XGBClassifier()

lgbm = LGBMClassifier()

In [ ]:
# Î™®Îç∏ ÌïôÏäµ

# X Îäî trainÏóêÏÑú quality Î•º Ï†úÏô∏Ìïú Î™®Îì† Î≥ÄÏàò
# y Îäî trainÏùò qulity Î≥ÄÏàò

X = train_one.drop('quality',axis= 1)
y = train_one['quality']

# fit Î©îÏÜåÎìúÎ•º Ïù¥Ïö©Ìï¥ Î™®Îç∏ ÌïôÏäµ

xgb.fit(X,y)
lgbm.fit(X,y)

In [ ]:
# predict Î©îÏÜåÎìúÏôÄ test_one Îç∞Ïù¥ÌÑ∞Î•º Ïù¥Ïö©Ìï¥ ÌíàÏßà ÏòàÏ∏°

xgb_pred = xgb.predict(test_one)

lgbm_pred = lgbm.predict(test_one)

In [ ]:
# sample_submission.csv ÌååÏùºÏùÑ Î∂àÎü¨ÏôÄ ÏòàÏ∏°Îêú Í∞íÏúºÎ°ú Ï±ÑÏõå Ï£ºÍ∏∞(xgb,lgbm)

submission_xgb = pd.read_csv('data/sample_submission.csv')

submission_lgbm = pd.read_csv('data/sample_submission.csv')



submission_xgb['quality'] = xgb_pred

submission_lgbm['quality'] = lgbm_pred

In [16]:
# Ï†ïÎãµÌååÏùº ÎÇ¥Î≥¥ÎÇ¥Í∏∞

submission_xgb.to_csv('xgb_pred.csv',index = False)

submission_lgbm.to_csv('lgbm_pred.csv',index = False)

NameError: ignored

# [‚Ü©Ô∏è Î¶¨Ïä§Ìä∏Î°ú ÎèåÏïÑÍ∞ÄÍ∏∞](https://dacon.io/competitions/open/235698/overview/description)