# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)

# 셀을 실행할 때 팝업이 뜨면 `무시하고 계속하기` 를 눌러주세요

## 데이터 다운로드
---
아래 셀을 실행시켜 데이터를 colab 에 불러옵니다.
셀 실행은 Ctrl + Enter 를 이용해 실행시킬 수 있습니다.

In [1]:
# 데이터 다운로드 링크로 데이터를 코랩에 불러옵니다.

!wget 'https://bit.ly/3i4n1QB'

import zipfile
with zipfile.ZipFile('3i4n1QB', 'r') as existing_zip:
    existing_zip.extractall('data')

--2023-06-14 12:51:49--  https://bit.ly/3i4n1QB
Resolving bit.ly (bit.ly)... 67.199.248.11, 67.199.248.10
Connecting to bit.ly (bit.ly)|67.199.248.11|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw [following]
--2023-06-14 12:51:50--  https://drive.google.com/uc?export=download&id=1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw
Resolving drive.google.com (drive.google.com)... 108.177.127.102, 108.177.127.113, 108.177.127.101, ...
Connecting to drive.google.com (drive.google.com)|108.177.127.102|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5cuk9fqfc9b8c0udobja0k43lep6r1k8/1686747075000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=8f21a794-bbdd-41ff-853e-a283787b2353 [following]
Warning: wildcards not supported in HTTP.
--2023-06-14 12:51:50--  https://doc-10-10-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/5cuk9fqfc9b8c0udobja0k43lep6r1k8/1686747075000/17946651057176172524/*/1emLrrpFWT8dCoj5BJb12-5QMG2-nruUw?e=download&uuid=8f21a794-bbdd-41ff-853e-a283787b2353
Resolving doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)... 108.177.126.132, 2a00:1450:4013:c01::84
Connecting to doc-10-10-docs.googleusercontent.com (doc-10-10-docs.googleusercontent.com)|108.177.126.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 137694 (134K) [application/zip]
Saving to: ‘3i4n1QB’

3i4n1QB             100%[===================>] 134.47K  --.-KB/s    in 0.002s

2023-06-14 12:51:51 (55.9 MB/s) - ‘3i4n1QB’ saved [137694/137694]

In [2]:
# 라이브러리 불러오기
import seaborn as sns
import pandas as pd

# VIF기능을 제공하는 라이브러리 불러오기
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [3]:
train = pd.read_csv('data/train.csv')

# 범주형 변수 제거(type)
train.drop('type',inplace = True,axis=1)

## 👋 실습
---
피처마다의 VIF 계수를 출력합니다.

In [5]:
# 결과값을 저장할 VIF라는 이름의 리스트 생성
VIF = []

# values atribution(속성) 이용해 train 데이터의 값만 추출
train_val = train.values

#  variance_inflation_factor 함수에 인자로 train_val (train 데이터의 값)과 인덱스 번호 지정  - for 반복문 이용
for i in range(len(train.columns)):
    VIF.append(variance_inflation_factor(train_val,i))

In [7]:
# 데이터 프레임 형식으로 바꿔 가독성 높이기! (보너스 문제)
data = pd.DataFrame(VIF)
data

             0
0     4.007175
1    64.107432
2    59.149187
3     9.610687
4     9.273444
5     3.616414
6     5.715981
7     8.420883
8    14.833789
9   945.323991
10  583.501187
11   18.535850
12  131.126700

## 정답
---

In [8]:
# 피처마다의 VIF 계수를 출력합니다.


# 결과값을 저장할 VIF라는 이름의 리스트 생성
vif = []

# values atribution(속성) 이용해 train 데이터의 값만 추출
train_val = train.values

#  variance_inflation_factor 함수에 인자로 train_val (train 데이터의 값)과 인덱스 번호 지정
# for문 이용
for i in range(len(train.columns)):
  vif.append(variance_inflation_factor(train_val, i))


vif

[4.007175138928272,
 64.10743200252591,
 59.14918709853955,
 9.610687118796196,
 9.273443884294641,
 3.616414435307183,
 5.7159808829777585,
 8.420882621285777,
 14.833789006276412,
 945.3239910887048,
 583.5011867251005,
 18.535849630077276,
 131.12669981396292]

In [9]:
# 데이터 프레임 형식으로 바꿔 가독성 높이기! (보너스 문제)

vif_dataframe = pd.DataFrame()
vif_dataframe['columns'] = train.columns
vif_dataframe['VIF'] = vif
vif_dataframe

                 columns         VIF
0                  index    4.007175
1                quality   64.107432
2          fixed acidity   59.149187
3       volatile acidity    9.610687
4            citric acid    9.273444
5         residual sugar    3.616414
6              chlorides    5.715981
7    free sulfur dioxide    8.420883
8   total sulfur dioxide   14.833789
9                density  945.323991
10                    pH  583.501187
11             sulphates   18.535850
12               alcohol  131.126700

# [↩️ 리스트로 돌아가기](https://dacon.io/competitions/open/235698/overview/description)